.comment-container {
  margin: auto;
  padding: 30px;
  /* border: 1px solid #ccc; */
}

.comment-content {
  overflow-wrap: break-word;
  border-bottom: 3px solid rgba(101, 101, 101, 0.252);
  line-height: 40px;
}

.comment-content a {
  text-decoration: none;
  color: rgb(95, 116, 111);
}
