.comment-container {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 15px;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  /* border: 1px solid #ccc; */
}

.comment-content {
  display: flex;
  gap: 10px;
  word-break: break-word;
  line-height: 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 95, 115, 0.4);
}

.photo-comment-content {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-description {
  display: grid;
  text-align: left;
  width: 100%;
}

.comment-description a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.delete-comment {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .comment-description {
    padding: 10px;
    line-height: 20px;
  }
}
