.register-form {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: auto;
  overflow-wrap: break-word;
  border-radius: 12px;
  background-color: rgba(134, 112, 144, 0.3);
  margin-top: 100px;
  margin-bottom: 100px;
}

.image-register {
  margin-top: 40px;
}
