#root {
  --primary-color: rgba(134, 112, 144, 0.5);
  --link-color: rgb(43, 80, 70);
  --imagePicker-color: black;
}

body {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: url(./assets/logo.jpg); */
  background-color: rgba(82, 72, 84, 0.459);
}

.main-container {
  margin: 0 auto;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}
