.posts-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

.post-container {
  background-color: rgb(152, 85, 203);
  margin: 10px;
}

@media screen and (max-width: 700px) {
  .posts-container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 400px) {
  .posts-container {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
