.post-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.post-content {
  word-break: break-word;
  background-color: rgba(134, 112, 144, 0.3);
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 15px 0px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* border: 1px solid #ccc; */
  line-height: 60px;
  box-shadow: 6px 6px 12px rgba(134, 112, 144),
    -6px -6px 12px rgb(255, 255, 255);
}

.post-content::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #538a65 0%, #b5b5a1 100%);
  transition: 0.5s ease;
  z-index: -1;
}

.post-content:hover::before {
  width: 100%;
}

.post-container a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--link-color);
}

@media only screen and (max-width: 800px) {
  .post-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .post-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
