.post-container {
  /* display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto; */
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}

.post-content {
  background-color: rgba(162, 125, 178, 0.547);
  margin: 15px;
  border-radius: 12px;
  overflow: auto;
  overflow-y: auto;
  overflow-wrap: break-word;
  min-width: 400px;
  max-width: 400px;

  /* display: flex;
  flex-wrap: wrap; */
}

.post-content a {
  text-decoration: none;
  font-size: 20px;
}

/* @media screen and (max-width: 700px) {
  .posts-container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 400px) {
  .posts-container {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
} */
