.specificPost-container {
  display: grid;
  grid-gap: 15px;
  /* background-color: rgba(134, 112, 144, 0.3); */
  /* margin: 0 auto; */
  margin: 60px;
  border-radius: 10px;
  /* max-width: 640px; */
  /* padding: 40px; */
  overflow-wrap: break-word;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* border: 1px solid black; */
}

.specificPost-container a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 4px;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: #005f7360;
}

.create-comment {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  grid-gap: 20px;
  line-height: 30px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(0, 95, 115, 0.4);
}

@media screen and (max-width: 768px) {
  .specificPost-container {
    margin: 20px;
  }
}
