.profile-container {
  /* border: 1px solid #ccc; */
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgba(37, 51, 25, 0.2);
}

.photo-profile {
  /* border: 1px solid #ccc; */
  border-radius: 25%;
  width: 160px;
  /* margin: auto; */
  padding: auto;
  overflow-clip-margin: content-box;
}

.profile-content {
  /* border: 1px solid #ccc; */
  padding-top: 10px;
  word-break: break-word;
  padding-bottom: 20px;
}

@media only screen and (max-width: 200px) {
  .photo-profile {
    width: 100%;
  }
}
