.search-container {
  /* border: 1px solid #ccc; */
  margin: 0 auto;
  width: fit-content;
}

.search-content {
  background-color: rgba(0, 95, 115, 0.5);
  /* color: rgb(43, 40, 40); */
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  width: 100%;
  max-width: 190px;
}

.search-content::placeholder {
  color: #005f73;
}

.search-content:focus {
  border-bottom: 2px solid #005f73;
  border-radius: 4px 4px 2px 2px;
}
