.specificPost-content {
  display: grid;
  padding: 30px;
  line-height: 40px;
  border-radius: 15px;
  background-color: rgba(0, 95, 115, 0.4);
  /* border: 1px solid #ccc; */
  /* grid-gap: 10px; */
}

.post-base-md {
  display: grid;
  grid-gap: 10px;
  word-break: break-word;
  z-index: 1;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 95, 115, 0.4);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.post-title-base-md {
  font-size: 20px;
  color: var(--link-color);
  letter-spacing: 1px;
  font-weight: bolder;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .specificPost-content {
    padding: 20px;
    line-height: 30px;
  }

  .post-base-md {
    padding: 10px;
    line-height: 20px;
  }

  .post-title-base-md {
    font-size: 15px;
  }
}
