.text-area {
  text-align: center;
  font-size: 17px;
  color: rgba(0, 0, 0);
  border-radius: 7px;
  letter-spacing: 2px;
  min-height: 100px;
  background-color: rgba(193, 196, 194, 0.5);
  border: 2px solid rgba(193, 196, 194, 0.5);
  resize: none;
  box-sizing: border-box;
  margin: 50px;
  margin-top: 20px;
}
