.post-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 30px;
  margin: 0 auto;
  margin: 40px;

  /* max-width: 1200px; */
}

.post-content {
  word-break: break-word;
  background-color: rgba(0, 95, 115, 0.2);
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: grid;
  /* border: 1px solid #ccc; */
  line-height: 45px;
}

.post-content::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #005f73 0%, #0a9396 100%);
  transition: 0.5s ease;
  z-index: -1;
}

.post-content:hover::before {
  width: 100%;
}

.post-container a {
  font-size: 17px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", Arial;
  color: var(--link-color);
}

@media only screen and (max-width: 800px) {
  .post-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .post-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .post-content {
    padding: 10px;
    line-height: 20px;
  }

  .post-container a {
    font-size: 14px;
  }
}
