.nav-bar-container {
	display: flex;
	flex-wrap: wrap;
}

.link-items {
	display: flex;
	gap: 26px;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	letter-spacing: 2px;
}

.link-items a {
	text-decoration: none;
	color: aliceblue;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link-content {
	margin: 15px 0px;
	padding: 10px;
	cursor: pointer;
	border-radius: 20px;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.link-content::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #005f73 0%, #0a9396 100%);
	transition: 0.5s ease;
	display: block;
	z-index: -1;
}

.link-content:hover::before {
	width: 9em;
}
