.specificPost-container {
  background-color: rgb(162, 125, 178);
  margin: 50px;
  opacity: 0.7;
  border-radius: 10px;
}

.title-container {
  text-align: center;
}

.description-container {
}

.comment-container {
  display: grid;
  margin: 0 auto;
  /* padding: 0; */
}

.comment-content {
  /* margin: 50px; */
  border-radius: 10px;
  margin: 0 auto;
  min-width: 650px;
  max-width: 600px;
  min-height: 3%;
}
