.specificPost-container {
  background-color: rgba(162, 125, 178, 0.798);
  margin: 10px;
  border-radius: 10px;
}

.title-container {
  text-align: center;
}

.description-container {
}

.comment-container {
  display: grid;
  margin: 0 auto;
  text-align: center;
}

.comment-content {
  background-color: rgb(100, 74, 114);
  border-radius: 10px;
  min-height: 3%;
}

.line {
  overflow: auto;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 1px;
  border-bottom: 3px solid rgba(206, 159, 214, 0.252);
}
