.input-container {
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.input-container:focus {
  outline: 0;
  border-bottom-color: lightblue;
}

.error-container {
  color: red;
}
