.specificPost-content {
  display: grid;
  padding: 30px;
  line-height: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  background-color: rgba(134, 112, 144, 0.4);
  /* border: 1px solid #ccc; */
  word-break: break-all;
  grid-gap: 30px;
}
