.specificPost-container {
  background-color: rgba(162, 125, 178, 0.798);
  margin: 10px;
  border-radius: 10px;
}

.post-info {
  font-size: 12px;
}

.title-container {
  text-align: left;
}

.description-container {
  font-size: 30px;
}
