.link-items {
  display: flex;
  /* width: fit-content; */
  /* gap: 6px; */
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 2px;
}

.link-items a {
  text-decoration: none;
}

.link-content {
  margin: 15px 0px;
  padding: 10px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
}

.nav-bar-container {
}
