.link-items {
  display: flex;
  /* gap: 6px; */
  margin: 0 auto;
  width: fit-content;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.link-items a {
  text-decoration: none;
}

.link-content {
  background-color: rgb(207, 171, 223);
  margin: 30px;
  padding: 10px;
  opacity: 0.8;
  border-color: rgb(133, 24, 133);
  border-style: double;
  cursor: pointer;
}
/* 
@media (max-width: 700px) {
  .link-items {
    flex-direction: column;
  }
} */
